* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;

  font-family: "Arsenal", sans-serif;
}

/*Animation*/

.loader {
  background: transparent;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.circle {
  width: 250px;
  height: 250px;
  border: 5px solid #1f2633;
  position: absolute;
  border-radius: 50%;
  animation: none;
}

.circle.animate {
  animation: circle14512 60s linear infinite;
}

.circle::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #04d8f5;
  box-shadow: 0 0 20px #04d8f5, 0 0 60px #04d8f5;
}

@keyframes circle14512 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.timerDisplay {
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  color: white;
}

.Content-container {
  width: 80%;

  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #151a26;
}

.SavedTasks {
  width: 20%;
  text-align: center;
  background-color: rgb(173, 173, 173);
  padding-top: 15px;
  background-color: #1f2633;
  color: white;
}

.SavedTasks h1 {
  margin-bottom: 30px;
}

.task-Done {
  background: rgba(155, 184, 184, 0.5);
  border: 1px solid #04d8f5;
  border-radius: 2px;
  font-size: 20px;
  padding: 5px;
  margin: 5px;
}

marquee {
  color: #ffcfa2;
}

.containerOne {
  display: flex;
  width: 70%;
  animation: none;
}

.containerOne.animate {
  animation: fadeOut 1s ease-out forwards;
  opacity: 1;
}

.containerOne.animateFadeIn {
  animation: fadeIn 1s ease-out forwards;
  /* opacity: 1; */
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.containertwo {
  display: flex;
  width: 50%;
}
.oneHourBtn,
.twoHoursBtn,
.thirtMinBtn {
  margin: 10px;
  width: 100%;
  height: 35px;
  border-radius: 20px;
}

.startBtn,
.pauseBtn,
.stopBtn {
  width: 100%;
  margin: 10px;
  height: 35px;
  border-radius: 50px;
}

.Motivation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MotivationInput {
  position: absolute;
  top: 10%;
  border: none;
  border-bottom: 1px solid #04d8f5;
  width: 50%;
  font-size: 20px;
  text-align: center;
  background-color: transparent;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}

.MotivationInput:focus {
  outline: none;
}

::placeholder {
  color: rgb(255, 255, 255);
  font-size: 15px;
}

button {
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #04d8f5 0%, #185483 100%);
  border-radius: 20px;
  background-size: 100% auto;
  font-family: inherit;
  font-size: 17px;
}

button:hover {
  background-position: right center;
  background-size: 200% auto;
  -webkit-animation: pulse 2s infinite;
  animation: pulse512 1.5s infinite;
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #05bada66;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

@media only screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }

  .MotivationInput {
    width: 80%;
    top: 5%;
  }

  .containertwo {
    width: 80%;
  }

  .Content-container {
    width: 100%;
    min-height: 90%;
  }

  .SavedTasks {
    width: 100%;
  }

  .loader {
    width: 200px;
    height: 200px;
  }

  .circle {
    width: 200px;
    height: 200px;
  }

  .timerDisplay {
    font-size: 23px;
    top: 35%;
  }

  button {
    font-size: 12px;
  }
}
